<!DOCTYPE html>
<html>
  <head>

    <title> Pizarron </title>
    <style>

    h1
    {
      color: green;
      font-family: face= Source Sans Pro;
      font-size: 100%;
      text-align: center;



    }
    button
    {
      text-align: center;
      color: red;
      font-family: courier;
      font-size: 60%;
      border: 10px outset ; #if your put a color after outset it changes it
      padding: 30px;

      


    }




    </style>

    <h1>  <strong>Pizarron</strong> </h1>
    <!-- boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- google font api -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  </head>

  <body>

<button type="button"> Grades </button>
<button type="button"> Calendar </button>
</br>
</br>
<button type="button"> Edit Profile </button>
<button type="button"> Attendance </button>


  </body>
</html>
