<!DOCTYPE html>
<html>
    <head>
        <title>PODER</title>
        <!-- boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <!-- google font api -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
                    
                    <!-- css -->
                    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
                        
                        </head>
    
    <body>
        {% block content %}
        <h3>Demographics</h3>
        
        <br>
        
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
            <span>{{ form.first_name.label }}</span> {{ form.first_name(size=32) }}
            <br>
            {% for error in form.first_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            <span>{{ form.middle_name.label }}</span> {{ form.middle_name(size=32) }}
            <br>
            </p>
            <span>{{ form.last_name.label }}</span> {{
                form.last_name(size=32) }}
            <br>
            <span>{{ form.date_of_birth.label }}</span> {{
                form.date_of_birth(size=32) }}
            <br>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        {% endblock %}
        
    </body>
</html>

