<!DOCTYPE html>
<html>
  <head>
    <title>PODER</title>
    <!-- boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- google font api -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <!-- css -->
    <link rel= "stylesheet" type= "text/css" href= "style.css">

  <style>

  button {
  background-color: #009a44;
  border: none;
  color: white;
  display: inline-block;
  padding: 3000px, 1000px;
  text-align: center;
  margin: 100px;
  font-size: 50px;
        
}
  button:hover {
    background-color: #4CAF50;
    color: white;
  }
      
  #content{
    background-color: aqua;
  }
  </style>

  </head>

  <body> 
    <header> 
      <div id ="head-content">
        <div id = "logo">  
          <img src="{{ url_for('static', filename='images/poderTranslogo.png') }}">
        </div>
      </div>
    </header>
    <!-- background white block -->
    <div id= "content">
      <div id = "in-line-columns">
        <button class="button">Prospective Students</a>
        <button class= "button">Current Students</button>
      </div>
      <div id="centered-content">
        <p>Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input Test Input </p>
      </div>
      <div id="centered-button">
        <button type="button">Resources</button>
      </div>
    </div>

  </body>
</html>
