<!DOCTYPE html>
<html>
    <head>
        <title>PODER</title>
        <!-- boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <!-- google font api -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

                    <!-- css -->
                    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
                        </head>

    <body>
        {% block content %}
        <h3>Integrative English Exam</h3>

        <br>

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
            <h2>Look at the picture. Read the sentences. Choose the correct answer.</h2>
            <img src="{{ url_for('static', filename='img/family_diner.png') }}" alt="Family having dinner">
                <span>{{ form.question_1.label }}</span>{{ form.question_1(size=25)}}
                <span>{{ form.question_2.label }}</span>{{ form.question_2(size=25)}}
                <span>{{ form.question_3.label }}</span>{{ form.question_3(size=25)}}
                <br>
            </p>
            <p>
            <img src="{{ url_for('static', filename='img/restaurant.png') }}" alt="Text of restaurant information">
                <span>{{ form.question_4.label }}</span>{{ form.question_4(size=25)}}
                <br>
                </p>
            <p>
            <img src="{{ url_for('static', filename='img/schedule.png') }}" alt="Schedule question">
                <span>{{ form.question_5.label }}</span>{{ form.question_5(size=25)}}
                <span>{{ form.question_6.label }}</span>{{ form.question_6(size=25)}}
                <br>
                </p>
            <p>
            <h2>Look at the map. Read the question. Choose the correct answer.</h2>
            <img src="{{ url_for('static', filename='img/map.png') }}" alt="Basic map">
                <span>{{ form.question_7.label }}</span>{{ form.question_7(size=25)}}
                <br>
                </p>
            <p>
            <span>{{ form.question_8.label }}</span>{{ form.question_8(size=25)}}
            <span>{{ form.question_9.label }}</span>{{ form.question_9(size=25)}}
            <span>{{ form.question_10.label }}</span>{{ form.question_10(size=25)}}
            <span>{{ form.question_11.label }}</span>{{ form.question_11(size=25)}}
            <span>{{ form.question_12.label }}</span>{{ form.question_12(size=25)}}
            <span>{{ form.question_13.label }}</span>{{ form.question_13(size=25)}}
            </p>

            <p>
            <h2>Look at the course catalog. Read the questions. Choose the correct answer.</h2>
            <img src="{{ url_for('static', filename='img/catalog.png') }}" alt="Text about courses">
                <span>{{ form.question_missed.label }}</span>{{ form.question_missed(size=25)}}
                <span>{{ form.question_14.label }}</span>{{ form.question_14(size=25)}}
                <br>
                </p>
            <p>
            <span>{{ form.question_15.label }}</span>{{ form.question_15(size=25)}}
            <span>{{ form.question_16.label }}</span>{{ form.question_16(size=25)}}
            <span>{{ form.question_17.label }}</span>{{ form.question_17(size=25)}}
            <span>{{ form.question_18.label }}</span>{{ form.question_18(size=25)}}
            <span>{{ form.question_19.label }}</span>{{ form.question_19(size=25)}}
            </p>

            <p>
            <h2>Look at the picture. Read the question. Choose the correct answer.</h2>
            <img src="{{ url_for('static', filename='img/fridge.png') }}" alt="picture of two fridges">
                <span>{{ form.question_20.label }}</span>{{ form.question_20(size=20)}}
                <br>
                </p>

            <p>
            <span>{{ form.question_21.label }}</span>{{ form.question_21(size=25)}}
            </p>

            <p>
            <h2>Read the story. Choose the correct answers.</h2>
            <span>{{ form.question_22.label }}</span>{{ form.question_22(size=20)}}
            <span>{{ form.question_23.label }}</span>{{ form.question_23(size=20)}}
            </p>

            <p>
            <span>{{ form.question_24.label }}</span>{{ form.question_24(size=20)}}
            <span>{{ form.question_25.label }}</span>{{ form.question_25(size=20)}}
            <span>{{ form.question_26.label }}</span>{{ form.question_26(size=20)}}
            <span>{{ form.question_27.label }}</span>{{ form.question_27(size=20)}}
            <span>{{ form.question_28.label }}</span>{{ form.question_28(size=20)}}
            <span>{{ form.question_29.label }}</span>{{ form.question_29(size=20)}}
            <span>{{ form.question_30.label }}</span>{{ form.question_30(size=20)}}
            </p>

            <p>
            <h2>Read the article. Choose the correct answers.</h2>
            <img src="{{ url_for('static', filename='img/article.png') }}" alt="article about a family">
                <span>{{ form.question_31.label }}</span>{{ form.question_31(size=20)}}
                <span>{{ form.question_32.label }}</span>{{ form.question_32(size=20)}}
                <br>
                </p>

            <p>
            <span>{{ form.question_33.label }}</span>{{ form.question_33(size=20)}}
            <span>{{ form.question_34.label }}</span>{{ form.question_34(size=20)}}
            <span>{{ form.question_35.label }}</span>{{ form.question_35(size=20)}}
            <span>{{ form.question_36.label }}</span>{{ form.question_36(size=20)}}
            <span>{{ form.question_37.label }}</span>{{ form.question_37(size=20)}}
            <span>{{ form.question_38.label }}</span>{{ form.question_38(size=20)}}
            <span>{{ form.question_39.label }}</span>{{ form.question_39(size=20)}}
        </p>
        </form>
        {% endblock %}
    </body>
</html>
